[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulumi-azuread = "*"
pulumi-kubernetes = "*"
pulumi-azure-native = "*"

[dev-packages]
pycodestyle = "*"
flake8 = "*"

[requires]
python_version = "3.10"
